<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../estilo/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../estilo/font.css">
    <link rel="icon" href="/Proyecto_Final/Imagenes/avionIcono.ico">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="keywords" content="vuelos, viajes, escapadas, turismo, promociones">

    <!-- Descripcion -->
    <meta name="description" content="Vuelos unicos para una experiencia inolvidable">

    <title>Promociones imperdibles para vos</title>
</head>

<body class="promociones">
    <section id="fondo">
        <header>
            <img src="../Imagenes/Logo.png" alt="Logo" class="loguito">
            <h4>Encontra tu viaje</h4>
        </header>


        <main>
            <div class="fondoPromociones">
                <nav>


                    <ul class="principalCentro">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="vuelos.html">Vuelos</a></li>
                        <li><a href="paquetes.html">Paquetes</a>
                            <ul>
                                <li><a href="">Verano</a></li>
                                <li><a href="">Invierno</a></li>
                            </ul>
                        </li>
                        <li><a href="hoteles.html">Hoteles</a></li>
                        <li><a href="disney.html">Disney</a></li>
                    </ul>
                </nav>

                <!-- Redes Sociales -->
                <div class="social">
                    <a href="https://www.facebook.com/" class="icon icon-facebook" target="_blank"></a>
                    <a href="https://twitter.com/?lang=es" class="icon icon-twitter" target="_blank"></a>
                    <a href="https://web.whatsapp.com/" class="icon icon-whatsapp" target="_blank"></a>
                    <a href="https://www.instagram.com/?nocaa=1" class="icon icon-instagram" target="_blank"></a>

                </div>

                <section class="area-Bancos">

                    <div class="bancoFrances centrado-H4">
                        <img src="../Imagenes/frances.png" alt="Banco Frances">
                        <h4>12 CUOTAS SIN INTERES</h4>
                        <H4>10% DE DESCUENTO</H4>
                        <h4> PUNTOS ACUMULADOS</h4>
                    </div>
                    <div class="bancoGalicia centrado-H4">
                        <img src="../Imagenes/galicia.png" alt="Banco Galicia">
                        <h4>6 CUOTAS SIN INTERES</h4>
                        <H4>12 CUOTAS FIJAS</H4>
                        <H4>PUNTOS ACUMULADOS</H4>
                    </div>
                    <div class="bancoHipotecario centrado-H4">
                        <img src="../Imagenes/hipotecario.png" alt="Banco Hipotecario">
                        <H4>12 Y 18 CUOTAS FIJAS</H4>
                        <H4>BENEFICIOS EXCLUSIVOS</H4>
                        <H4>PUNTOS ACUMULADOS</H4>
                    </div>
                    <div class="bancoCiudad centrado-H4">
                        <img src="../Imagenes/ciudad.png" alt="Banco Ciudad">
                        <H4>24 CUOTAS SIN INTERES</H4>
                        <H4>10% DE DESCUENTO</H4>
                        <H4>PUNTOS ACUMULADOS</H4>
                    </div>
                    <div class="bancoSantander centrado-H4">
                        <img src="../Imagenes/santander.png" alt="Banco Santander">
                        <H4>3 CUOTAS SIN INTERES</H4>
                        <H4>24 CUOTAS FIJAS</H4>
                        <H4>PUNTOS ACUMULADOS</H4>
                    </div>
                    <div class="mercadoPago centrado-H4">
                        <img src="../Imagenes/mercadopago.jpg" alt="Mercado Pago">
                        <H4>12 CUOTAS SIN INTERES</H4>
                        <H4>15% DE DESCUENTO ABONANDO CON QR</H4>
                        <H4>24 CUOTAS FIJAS</H4>
                    </div>


                </section>



            </div>
        </main>




        <footer>
            <nav>
                <a href="">Ayuda</a>
                <a href="">Nosotros</a>
                <a href="">Contacto</a>
                <a href="">Trabaja Con Nosotros</a>

            </nav>
        </footer>


</body>

</html>