<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilo/estilos.css">
    <link rel="stylesheet" href="../estilo/font.css">
    <link rel="icon" href="/Proyecto_Final/Imagenes/avionIcono.ico">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="keywords" content="vuelos, viajes, escapadas, turismo">

    <!-- Descripcion -->
    <meta name="description" content="Vuelos unicos para una experiencia inolvidable">

    <title>Encontra el vuelo que buscas</title>
</head>

<body>
    <section id="fondo">
        <header>
            <section class="logo">
                <img src="../Imagenes/Logo.png" alt="Logo" class="loguito">
            </section>
            <h4>Encontra tu viaje</h4>
        </header>


        <main>
            <div class="fondoVuelo">
                <nav>


                    <ul class="principalCentro">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="paquetes.html">Paquetes</a>
                            <ul>
                                <li><a href="">Verano</a></li>
                                <li><a href="">Invierno</a></li>
                            </ul>
                        </li>
                        <li><a href="hoteles.html">Hoteles</a></li>
                        <li><a href="disney.html">Disney</a></li>
                        <li><a href="promociones.html">Promociones</a></li>
                    </ul>
                </nav>

                <!-- Redes Sociales -->
                <div class="social">
                    <a href="https://www.facebook.com/" class="icon icon-facebook" target="_blank"></a>
                    <a href="https://twitter.com/?lang=es" class="icon icon-twitter" target="_blank"></a>
                    <a href="https://web.whatsapp.com/" class="icon icon-whatsapp" target="_blank"></a>
                    <a href="https://www.instagram.com/?nocaa=1" class="icon icon-instagram" target="_blank"></a>

                </div>

                <table>

                    <thead>
                        <tr>
                            <th>Ciudad</th>
                            <th>Horario Ida</th>
                            <th>Horario LLegada</th>
                            <th>Valor</th>
                        </tr>
                    </thead>

                    <tr>
                        <td>
                            <a href="">Cordoba</a></td>
                        <td>9:45HS</td>
                        <td>12:30HS</td>
                        <td>$14350</td>
                    </tr>
                    <tr>
                        <td><a href="">Bariloche</a></td>
                        <td>06:30HS</td>
                        <td>08:30HS</td>
                        <td>$11000</td>
                    </tr>
                    <tr>
                        <td><a href="">Rio de Janeiro</a></td>
                        <td>16:20HS</td>
                        <td>19:45HS</td>
                        <td>$42000</td>
                    </tr>
                    <tr>
                        <td><a href="">Bogota</a></td>
                        <td>22:00HS</td>
                        <td>03:50HS</td>
                        <td>$33000</td>
                    </tr>
                    <tr>
                        <td><a href="">New York</a></td>
                        <td>7:15HS</td>
                        <td>23:20HS</td>
                        <td>$76800</td>
                    </tr>



                </table>










            </div>
        </main>



        <section id="pie">
            <footer>
                <nav>
                    <a href="">Ayuda</a>
                    <a href="">Nosotros</a>
                    <a href="">Contacto</a>
                    <a href="">Trabaja Con Nosotros</a>

                </nav>
            </footer>
        </section>

</body>

</html>